#canvas1 {
    border: 5px solid black;
    position: absolute; /*faz com que eu posso posicionar o canvas em relação ao body*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*move o elemento de volta 50% de sua largura para a esquerda e 50% de sua altura para cima, agora em relação ao seu próprio centro.*/
}